<!-- links
    function
https://stackoverflow.com/questions/45062093/right-way-to-call-a-function-after-selected-option-angular-4

html
https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_select


-->
<p>dropdwon works!</p>
<div>
    <div class="card" style="width: 18rem;" *ngFor="let c of newArray">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{c.carname}}</h5>
          <p class="card-text">{{c.carModel}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <select name="cars" id="cars"  ngModel (ngModelChange)="doSomething($event)">
            <option *ngFor="let b of newBrands" >{{b.bName}}</option>
        </select>
        
        
    </div>
</div>

<div>
    <ul>
        <li *ngFor="let i in arrayValue">{{i}}</li>
    </ul> 
    <div *ngFor="let i in arrayValue">{{i}}</div>
    <button (click)="createRange()">CLICK</button>
</div>

