<!-- links
    function
https://stackoverflow.com/questions/45062093/right-way-to-call-a-function-after-selected-option-angular-4

html
https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_select


-->
<p>dropdwon works!</p>
<div>
    <div class="card" style="width: 18rem;" *ngFor="let c of newArray">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{c.carname}}</h5>
          <p class="card-text">{{c.carModel}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <select name="cars" id="cars"  ngModel (ngModelChange)="doSomething($event)">
            <option *ngFor="let b of newBrands" >{{b.bName}}</option>
        </select>
        
        
    </div>
</div>

<div>
    <!-- <ul>
        <li *ngFor="let i in arrayValue">{{i}}</li>
    </ul>  -->
    <p>vishal</p>
    <div  *ngFor="let product of arrayValue; ">{{product}}</div>
    <button (click)="createRange()">CLICK</button>
</div>

<div>
    <p>2nd div</p>
    <!--this for some time car brand range print in frotend that time we use-->
    <!-- <li *ngFor='let in of newArray | slice:1; let i = index'>{{i+1}}</li> -->

    <!--this for images counting-->
    <div *ngFor='let in of newArray; let i = index'>{{i+1}}</div>
     
</div>

