<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      one way data binding -string interpolation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>Brother Name : {{name}}</ion-col>
      <ion-col>borth year : {{dob}}</ion-col>
      <ion-col>{{name}} age is {{getAge()}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngFor="let a of array1">
          <div>my family member is {{a}}</div>
        </div>
        <div>
          <ol>
            <li *ngFor="let a of array1">my family member is {{a}}</li>
          </ol>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
