<!-- link https://blog.logrocket.com/reactive-form-controls-form-groups-angular/ -->
<!-- 1st error solve 
app.module.ts
import { FormsModule, ReactiveFormsModule } from '@angular/forms';
imports: [
  FormsModule,
  ReactiveFormsModule
],
-->
<p>formone works!</p>
<div>
    <form class="was-validated" [formGroup]="contactSection" (ngSubmit)="callingFunction()">
        <div>
            <label for="name">Name<input type="text" class="form-control" placeholder="Enter Name" formControlName="name" required=""></label>
            <!-- <div class="invalid-feedback">Invalid name</div> -->
            <!-- <div class="valid-feedback">valid</div> -->
        </div>
        <div>
            <label for="email">Email<input type="text" class="form-control" placeholder="Enter Email" formControlName="email"  required=""></label>
            <!-- <div class="valid-feedback">valid</div>  -->
            <!-- <div class="invalid-feedback">Invalid email</div> -->
        </div>
        <div>
            <label for="phonenumber">Phone No<input type="text" class="form-control" placeholder="Enter Phone No" formControlName="phonenumber"  required=""></label>
            <!-- <div class="valid-feedback">valid</div>  -->
            <!-- <div class="invalid-feedback">Invalid mobile number</div> -->
        </div>
        <div>
            <label for="location">Location<input type="text" class="form-control" placeholder="Enter Location" formControlName="location"  required=""></label>
            <!-- <div class="valid-feedback">valid</div>  -->
            <!-- <div class="invalid-feedback">Invalid location</div> -->
        </div>
        <div>
            <button type="submit" [disabled]="contactSection.invalid" disabled>SUBMIT</button>
        </div>
    </form>
</div>